<!DOCTYPE html>
<html>
<head>
<style>


.header {
position: relative;
}

.header h1 {
position: relative;
left: 190px;
color: white;
}

.header p {
font-size: 20px;
position: relative;
color: whitesmoke;
}

.header img {
position: relative;
left: 110px;
}

input {
float: right;
margin: .4rem 0;
position: relative;
right: 10px;
bottom: 7.3px;
border-style: hidden;
}

a {
color: inherit;
} 

.btn {
border-radius: 50%;
color:white;
background-color: white;
float: right;
color: black;
border-style: hidden;
position: relative;
}

.content-header {
padding-bottom: 1em;
}

{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.entry-meta {
color: #767676;
font-size: small;
font-family: Verdana;
font-weight: 600;
letter-spacing: normal;
text-transform: uppercase;
}

.entry-title {
position: relative;
text-decoration: none;
font-size: larger;
font-family: Verdana;
}
.entry-content {
position: relative;
font-family: Verdana;
}

.content h2 {
font-family: Arial-Black;
clear: both;
line-height: 1.4;
margin: 0 0 .75em;
}

img {
position: relative;
border-radius: 8px;
}
<img src="SpaceHurricane.jpg" alt="Hurricane">

#one {
font-size: 15px;
color: red;
}
#two {
font-size: 15px;
}

.line {
font-family: Verdana;
font-size: 10px;
}

.h3-1 {
text-align: center;
}

.table {
border-width: 1px;
text-align: center;
font-family: Verdana;
border-collapse: collapse;
border-style: dotted
}

th, td {
font-family: Verdana;
font-size: 16px;
border-style: dotted;
border-collapse: collapse;
}

.footerp {
font-family: Verdana;
font-size: 15px;
font-weight: bold;
color: white;
text-align: center;
margin-right: 800px;
}

.img1 {
position: relative;
top: 5px;
margin-left: 95px !important; 
width: 40px;
}

.img2 {
position: relative;
top: 5px;
margin-left: 95px !important; 
width: 40px;
}

.footerp1 {
font-family: Verdana;
font-size: 15px;
font-weight: bold;
color: white;
text-align: center;
position: relative;
bottom: 157px;
left: 300px;
}

.footerli {
font-family: Verdana;
font-size: 15px;
font-weight: bold;
text-align: center;
position: relative;
bottom: 165px;
right: 20px;
left: 280px;
}

.footerli2 {
font-family: Verdana;
font-size: 15px;
font-weight: bold;
text-align: center;
position: relative;
bottom: 165px;
right: 20px;
top: -175px;
left: 280px;
}

.footerli3 {
font-family: Verdana;
font-size: 15px;
font-weight: bold;
text-align: center;
position: relative;
bottom: 165px;
right: 20px;
top: -170px;
left: 280px;
}

</style>
